<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

  <!-- 기존 스크립트는 제외하고 아래 내용으로 대체 -->
  <script th:inline="javascript">
    let imageIndex = 0;
    let images = /*[[${imageFileNames}]]*/ [];
    function showNextImage() {
      let imgElement = document.getElementById('image');
      imageIndex = (imageIndex + 1) % images.length;
      let nextImage = images[imageIndex];
      imgElement.src = "/images/" + nextImage;
    }

    function showPrevImage() {
      let imgElement = document.getElementById('image');
      if (imageIndex - 1 >= 0) {
        imageIndex -= 1;
      } else {
        imageIndex = images.length - 1;
      }
      let prevImage = images[imageIndex];
      imgElement.src = "/images/" + prevImage;
    }

    function deleteProduct() {
      let productId = /*[[${product.getId()}]]*/ [];
      if (confirm("정말로 상품을 삭제하시겠습니까?")) {
        fetch(`/products/` + productId, {
          method: 'DELETE'
        }).then(response => {
          if (response.ok) {
            // 삭제 성공 시 처리할 로직
            alert("상품이 삭제되었습니다.");
            window.location.href = '/';
          } else {
            // 삭제 실패 시 처리할 로직
            alert('상품 삭제에 실패했습니다.');
          }
        }).catch(error => {
          console.error('Error:', error);
          alert('상품 삭제에 실패했습니다.');
        });
      }
    }
  </script>


<header>

  <nav>
    <ul>
      <a class="market" href="/">개발 마켓</a>
    </ul>
  </nav>
</header>

<main>
</main>

<style>
  .field-error {
    border-color: #dc3545;
    color: #dc3545;
  }
</style>
<body>
  <div class="container">
  <h1>상품 수정</h1>
      <form th:action="|/products/edit/*{id}|" th:object="${product}" method="post">

        <div>
          <label for="name">상품 이름:</label>
          <input type="text" id="name" th:field="*{name}"
                 th:errorclass="field-error" class="form-control"
                 placeholder="이름을 입력하세요">
          <br>
          <div class="field-error" th:errors="*{name}">
            가격 오류
          </div>
        </div>
        <br>

        <div>
          <label for="price">상품 가격:</label>
          <input type="text" id="price" th:field="*{price}"
                 th:errorclass="field-error" class="form-control"
                 placeholder="가격을 입력하세요">
          <br>
          <div class="field-error" th:errors="*{price}">
            가격 오류
          </div>
        </div>
        <br>

        <div>
          <label for="category">상품 카테고리:</label>
          <input type="text" id="category" th:field="*{category}"
                 th:errorclass="field-error" class="form-control"
                 placeholder="카테고리를 입력하세요">
          <br>
          <div class="field-error" th:errors="*{category}">
            카테고리 오류
          </div>
        </div>

        <button type="submit"> 수정 하기</button>
      </form>

      <!-- 삭제하기 버튼 추가 -->
      <button type="button" class="delete_button" onclick="deleteProduct()">삭제하기</button>

      <!--
      <form id="deleteForm" th:action="|/products/*{id}|" method="post">
        <button type="submit" class="delete_button" >삭제하기</button>
      </form>
    -->
    <div th:object="${product}">
      <p class="createDate" th:text="|상품등록일: *{createDate}|" ></p>
      <img id="image" th:src="|/images/${imageFileNames[0]}|" th:width="300" th:height="300">
      <button onclick="showPrevImage()">이전</button>
      <button onclick="showNextImage()">다음</button>
    </div>
  </div>
</body>
</html>

