<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>


<header>

  <nav>
    <ul>
      <a class="market" href="/" th:text="#{market}">개발 마켓</a>
    </ul>
  </nav>
</header>

<main>
</main>

<style>
  .field-error {
    border-color: #dc3545;
    color: #dc3545;
  }
</style>
<body>
<div class="container">
  <form th:action="|/products/new|" th:object="${product}" enctype="multipart/form-data" method="post" >
    <div class="form-group">
      <div>
        <label for="name" th:text="#{product.productName}">상품 이름:</label>
        <input type="text" id="name" th:field="*{name}"
               th:errorclass="field-error" class="form-control"
               th:placeholder="#{placeholder.productName}">
        <br>
        <div class="field-error" th:errors="*{name}">상품 이름 오류</div>
      </div>
      <br>

      <div>
        <label for="price" th:text="#{product.price}">상품 가격:</label>
        <input type="number" maxlength="9" id="price" th:field="*{price}"
               th:errorclass="field-error" class="form-control"
               th:placeholder="#{placeholder.price}">
        <br>
        <div class="field-error" th:errors="*{price}" >가격 오류</div>
      </div>
      <br>

      <div>
        <label for="category" th:text="#{product.category}">상품 카테고리:</label>
        <input type="text" id="category" th:field="*{category}"
               th:errorclass="field-error" class="form-control"
               th:placeholder="#{placeholder.category}">
        <br>
        <div class="field-error" th:errors="*{category}">카테고리 오류</div>
      </div>

      <label for="imageFiles" th:text="#{image.save}"> 이미지 업로드</label>
      <input type="file" multiple="multiple" id ="imageFiles" name="imageFiles">

      <br>
      <button type="submit" th:text="#{button.save}">등록</button>
      <button type="button" onclick="location.href='/'" th:text="#{button.cancel}">취소</button>
    </div>
  </form>


</div> <!-- /container -->
</body>

</html>