<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="list.css" />
  <title>productsList</title>
</head>
<style>
    a.market {
        text-decoration: none;
    }
    a.product {
        text-decoration: none;
        color: black;
    }
</style>


<header>
    <nav>
        <ul>
            <a class="market" href="/" th:text="#{market}">개발 마켓</a>

            <form action="/search" method="get">
                <div class="form-group">
                    <input class="search" name="name" type="text" th:placeholder="#{placeholder.search}">
                </div>
                <button type="submit" hidden="hidden"></button>
            </form>

            <li><button class="chat" id="button">채팅하기</button></li>
        </ul>
    </nav>
</header>

<body>
<main>
    <h1 class="h1">중고거래 매물</h1>
<div>
  <div class="container">
      <div class="item" th:each="product : ${products}">
          <a class="product" th:href="|/products/${product.getId()}|">

              <!-- 이미지를 동적으로 설정 -->
              <img id="image"  th:if="${product.getStringImageFiles() != null}"
                   th:src="|/images/${#strings.substringBefore(product.getStringImageFiles(), ',')}|"
                   th:width="#{product.image.width}" th:height="#{proudct.image.height}">

              <img id="image2" th:src="|/images/#{product.default.image}|"
                   th:if="${product.getStringImageFiles() == null}"
                   th:width="#{product.image.width}" th:height="#{product.image.height}">

              <p class="name" th:text="|#{product.productName} ${product.name}|"></p>
              <p class="price" th:text="|#{product.price} ${product.price}원|"></p>
              <p class="category" th:text="|#{product.category} ${product.category}|"></p>
          </a>
      </div>
  </div>
</div> <!-- /container -->
</main>
<footer></footer>
</body>
</html>