<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="list.css" />
  <title>productsList</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <span class="market">개발 마켓</span>

                <form action="/search" method="get">
                    <div class="form-group">
                        <input class="search" name="name" id="input" type="text" placeholder="물품을 검색해보세요.">
                    </div>
                    <button type="submit" hidden="hidden"></button>
                </form>
                <li><button class="chat" id="button">채팅하기</button></li>
            </ul>
        </nav>
    </header>
<main>
    <h1 class="h1">중고거래 매물</h1>
<div>
  <div class="container">
        <div class="item" th:each="product : ${products}">
            <img class="image" src="images/image.jpeg" alt="My Image">
            <p class="name" th:text="${product.name}"></p>
            <p class="price" data-th-text="|${product.price}원|"></p>
        </div>
  </div>
</div> <!-- /container -->
</main>
<footer></footer>
</body>
</html>