<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

  <!-- 기존 스크립트는 제외하고 아래 내용으로 대체 -->
  <script th:inline="javascript">
    let imageIndex = 0;
    let images = /*[[${imageFileNames}]]*/ [];
    function showNextImage() {
      let imgElement = document.getElementById('image');
      imageIndex = (imageIndex + 1) % images.length;
      let nextImage = images[imageIndex];
      imgElement.src = "/images/" + nextImage;
    }

    function showPrevImage() {
      let imgElement = document.getElementById('image');
      if (imageIndex - 1 >= 0) {
        imageIndex -= 1;
      } else {
        imageIndex = images.length - 1;
      }
      let prevImage = images[imageIndex];
      imgElement.src = "/images/" + prevImage;
    }

    function deleteProduct() {
      let productId = /*[[${product.getId()}]]*/ [];
      if (confirm("정말로 상품을 삭제하시겠습니까?")) {
        fetch(`/products/` + productId, {
          method: 'DELETE'
        }).then(response => {
          if (response.ok) {
            // 삭제 성공 시 처리할 로직
            alert("상품이 삭제되었습니다.");
            window.location.href = '/';
          } else {
            // 삭제 실패 시 처리할 로직
            alert('상품 삭제에 실패했습니다.');
          }
        }).catch(error => {
          console.error('Error:', error);
          alert('상품 삭제에 실패했습니다.');
        });
      }
    }
  </script>


<header>

  <nav>
    <ul>
      <a class="market" href="/" th:text="#{market}">개발 마켓</a>
    </ul>
  </nav>
</header>

<main>
</main>

<style>
  .field-error {
    border-color: #dc3545;
    color: #dc3545;
  }
</style>
<body>
  <div class="container">
  <h1>상품 수정</h1>
      <form th:action="|/products/edit/*{id}|" th:object="${product}" method="post">
        <div>
          <label for="name" th:text="#{product.productName}">상품 이름:</label>
          <input type="text" id="name" th:field="*{name}"
                 th:errorclass="field-error" class="form-control"
                 th:placeholder="#{placeholder.productName}">
          <br>
          <div class="field-error" th:errors="*{name}">
            가격 오류
          </div>
        </div>
        <br>

        <div>
          <label for="price" th:text="#{product.price}">상품 가격:</label>
          <input type="number" maxlength="9" id="price" th:field="*{price}"
                 th:errorclass="field-error" class="form-control"
                 th:placeholder="#{placeholder.price}"
                 oninput="this.value = this.value.slice(0, 9)">
          <br>
          <div class="field-error" th:errors="*{price}">
            가격 오류
          </div>
        </div>
        <br>

        <div>
          <label for="category" th:text="#{product.category}">상품 카테고리:</label>
          <input type="text" id="category" th:field="*{category}"
                 th:errorclass="field-error" class="form-control"
                 th:placeholder="#{placeholder.category}">
          <br>
          <div class="field-error" th:errors="*{category}">
            카테고리 오류
          </div>
        </div>
        <br>

        <button type="submit" th:text="#{button.update}">수정</button>
        <button type="button" th:text="#{button.cancel}"
                th:onclick="|location.href='/products/' + ${product.getId()}|">취소</button>
      </form>
      <br>

      <button type="button" class="delete_button" th:text="#{button.delete}" onclick="deleteProduct()">삭제</button>
      <span class="createDate" th:text="|#{product.createDate} *{createDate}|" ></span>
      <br><br>
      <img id="image" th:src="|/images/${imageFileNames[0]}|" th:width="300" th:height="300">
      <br>
      <button onclick="showPrevImage()" th:text="#{button.prev}">이전</button>
      <button onclick="showNextImage()" th:text="#{button.next}">다음</button>
    </div>
  </div>
</body>
</html>

