<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="index.css?after" />
  <title>home</title>
</head>

<style>
  a.product {
    text-decoration: none;
    color: black;
  }
</style>

<body>
  <header>
    <nav>
      <ul>
        <a class="market" href="/" th:text="#{market}">개발 마켓</a>
        <a class="a" href="/products" th:text="#{product.products}">상품 목록</a>

        <form action="/search" method="get">
          <div class="form-group">
            <input class="search" name="name" id="input" type="text" th:placeholder="#{placeholder.search}">
          </div>
          <button type="submit" hidden="hidden"></button>
        </form>

        <a class="a" href="/login" th:text="#{login}">로그인</a>
      </ul>
    </nav>
  </header>

  <main>
    <h1 class="h1">최근에 올라온 상품</h1>
    <div class="container">

        <div class="item" th:each="product : ${products}">
            <!-- 이미지를 동적으로 설정 -->
          <a class="product" th:href="|/products/${product.getId()}|">
            <img id="image" th:if="!${product.getStringImageFiles().equals('')}" th:src="|/images/${#strings.substringBefore(product.getStringImageFiles(), ',')}|" th:width="200" th:height="200">
            <img id="default_image" th:src="|/images/default_product.jpeg|" th:if="${product.getStringImageFiles().equals('')}" th:width="200" th:height="200">
            <p class="name" th:text="|#{product.productName} ${product.name}|"></p>
            <p class="price" th:text="|#{product.price} ${product.price}원|"></p>
            <p class="category" th:text="|#{product.category} ${product.category}|"></p>
          </a>
        </div>
    </div>

  </main>

  <footer>footer</footer>
</body>
</html>
