<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="index.css?after" />
  <title>home</title>
</head>
<body>
  <header>
    <a href="/products/new">상품 등록</a>
    <a href="/products">상품 목록</a>
    <h1>개발 마켓</h1>
    <nav>
      <ul>
        <form action="/search" method="get">
          <div class="form-group">
            <input  name="name" id="input" type="text" placeholder="물품을 검색해보세요.">
          </div>
          <button type="submit" hidden="hidden"></button>
        </form>
        <li><button id="button">채팅하기</button></li>
        <form>
          <input name="file" id="files" type="file" multiple="multiple">
          <button type="submit">이미지 삽입</button>
        </form>
      </ul>
    </nav>
  </header>

  <main>

      <div th:each="product : ${products}">
        <td th:text="${product.name}"></td>
        <td data-th-text="|${product.price}원|"></td>
        <td data-th-text="|${product.category}|"></td>
    </div>
  </main>

  <footer>footer</footer>
</body>
</html>
