<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="index.css?after" />
  <title>home</title>
</head>

<style>
  a.product {
    text-decoration: none;
    color: black;
  }

  .logout-button {
    background-color: white;
    color: black;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    width: 4.9rem;
    margin-left: 0.6rem;
    height: 2.3rem;
    border: 1px solid black;
    border-radius: 3px;
    display: flex;
  }

  /* 버튼에 마우스를 올렸을 때 스타일 변경 */
  .logout-button:hover {
    background-color: lightgray;

  }
</style>

<body>
<header>
  <nav>
    <ul>
      <span class="market">개발 마켓</span>

      <a class="a" href="/products/new">상품 등록</a>
      <a class="a" href="/products">상품 목록</a>

      <form action="/search" method="get">
        <div class="form-group">
          <input class="search" name="name" id="input" type="text" placeholder="물품을 검색해보세요.">
        </div>
        <button type="submit" hidden="hidden"></button>
      </form>

      <form id="logoutForm" action="/logout" method="post">
        <button type="submit" class="logout-button" >로그아웃</button>
      </form>

    </ul>
  </nav>
</header>

<main>
  <h1 class="h1">중고거래 최근 매물</h1>
  <div class="container">

    <div class="item" th:each="product : ${products}">
      <!-- 이미지를 동적으로 설정 -->
      <a class="product" th:href="|/products/${product.getId()}|">
        <img id="image"  th:if="!${product.getStringImageFiles().equals('')}" th:src="|/images/${#strings.substringBefore(product.getStringImageFiles(), ',')}|" th:width="200" th:height="200">
        <img id="default_image" th:src="|/images/default_product.jpeg|" th:if="${product.getStringImageFiles().equals('')}" th:width="200" th:height="200">
        <p class="name" th:text="|상품명: ${product.name}|"></p>
        <p class="price" th:text="|가격: ${product.price}원|"></p>
        <p class="category" th:text="|종류: ${product.category}|"></p>
      </a>
    </div>
  </div>

</main>

<footer>footer</footer>
</body>
</html>
