<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
</head>

<style>

  nav {
    margin-left: 8rem;
    display: inline-block;
  }
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .market {
    font-size: 2rem;
    font-weight: bold;

    margin-right: 2rem;
    color: black;
  }

  a.market {
    text-decoration: none;
  }
  .field-error {
    border-color: #dc3545;
    color: #dc3545;
  }
</style>

<header>
  <nav>
    <ul>
      <a class="market" href="/">개발 마켓</a>
    </ul>
  </nav>
</header>
<body>
<main>

  <div class="container">
    <form  th:action="|/login|" th:object="${loginForm}" method="post" enctype="application/x-www-form-urlencoded">

      <div>
        <label for="userId">아이디: </label>
        <input type="text" id="userId" th:field="*{userId}"
               th:errorclass="field-error" class="form-control"
               placeholder="아이디를 입력하세요">
        <br>
        <div class="field-error" th:errors="*{userId}">
          아이디 오류
        </div>
      </div>

      <div>
        <label for="password">비밀번호: </label>
        <input type="password" id="password" th:field="*{password}"
               th:errorclass="field-error" class="form-control"
               placeholder="비밀번호를 입력하세요">
        <br>
        <div class="field-error" th:errors="*{password}">
          비밀번호 오류
        </div>
      </div>

      <div th:if="${#fields.hasGlobalErrors()}">
        <p class="field-error" th:each="err : ${#fields.globalErrors()}"
           th:text="${err}">글로벌 오류 메시지</p>
      </div>
      <button type="submit">로그인</button>
    </form>
  </div>

  <a class="market" href="/signup">회원가입</a>
  <button>아이디 찾기</button>
  <button>비밀번호 찾기</button>

</main>
</body>

</html>
