<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>

<header>
    <nav>
        <ul>
            <a class="market" href="/" th:text="#{market}">개발 마켓</a>
        </ul>
    </nav>
</header>

<style>
    .field-error {
        border-color: #dc3545;
        color: #dc3545;
    }
</style>

<body>
<h2>회원 가입</h2>
    <div class="container">

        <form th:action="|/signup|" th:object="${signupForm}" method="post" enctype="application/x-www-form-urlencoded">
            <div class="form-group">
                <div>
                    <label for="nickname" th:text="#{user.nickname}">닉네임</label>
                    <input type="text" id="nickname" th:field="*{nickname}"
                           th:errorclass="field-error" class="form-control"
                           th:placeholder="#{placeholder.nickname}">
                    <br>
                    <div class="field-error" th:errors="*{nickname}">닉네임 오류</div>
                </div>
                <br>

                <div>
                    <label for="userId" th:text="#{user.userId}">아이디</label>
                    <input type="text" id="userId" th:field="*{userId}"
                           th:errorclass="field-error" class="form-control"
                           th:placeholder="#{placeholder.userId}">
                    <br>
                    <div class="field-error" th:errors="*{userId}">닉네임 오류</div>
                </div>
                <br>

                <div>
                    <label for="password" th:text="#{user.password}">비밀번호</label>
                    <input type="text" id="password" th:field="*{password}"
                           th:errorclass="field-error" class="form-control"
                           th:placeholder="#{placeholder.password}">
                    <br>
                    <div class="field-error" th:errors="*{password}">닉네임 오류</div>
                </div>
                <br>

                <div>
                    <label for="userId" th:text="#{user.name}">이름</label>
                    <input type="text" id="name" th:field="*{name}"
                           th:errorclass="field-error" class="form-control"
                           th:placeholder="#{placeholder.name}">
                    <br>
                    <div class="field-error" th:errors="*{name}">닉네임 오류</div>
                </div>
                <br>

                <div>
                    <label for="email" th:text="#{user.email}">이메일</label>
                    <input type="email" id="email" th:field="*{email}"
                           th:errorclass="field-error" class="form-control"
                           th:placeholder="#{placeholder.email}">
                    <br>
                    <div class="field-error" th:errors="*{email}">닉네임 오류</div>
                </div>
                <br>

                <div>
                    <label for="phoneNumber" th:text="#{user.phoneNumber}">번호</label>
                    <input type="text" id="phoneNumber" th:field="*{phoneNumber}"
                           th:errorclass="field-error" class="form-control"
                           th:placeholder="#{placeholder.phoneNumber}">
                    <br>
                    <div class="field-error" th:errors="*{phoneNumber}">닉네임 오류</div>
                </div>
                <br>

                <div>
                    <label for="address" th:text="#{user.address}">주소</label>
                    <input type="text" id="address" th:field="*{address}"
                           th:errorclass="field-error" class="form-control"
                           th:placeholder="#{placeholder.address}">
                    <br>
                    <div class="field-error" th:errors="*{address}">닉네임 오류</div>
                </div>
                <br>
            </div>

            <p>프로필 이미지 업로드</p>
            <input type="file" name="imageFile">
            <br>
            <button type="submit" th:text="#{button.save}">등록</button>
            <button type="button" onclick="location.href='/login'" th:text="#{button.cancel}">취소</button>
        </form>

    </div> <!-- /container -->
</body>
</html>